flows.json
[
    {
        "id": "5cba3eca9550f493",
        "type": "tab",
        "label": "IoT based Power Monitoring",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b8fde1199f66e32",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/OutputVoltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "a5200d9b357f76b3",
                "c9a55f04f3dadbfc"
            ]
        ]
    },
    {
        "id": "67512ee16e5b12ea",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/OutputCurrent",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "f91ca3fb4b05b90e",
                "bfaee12d922b5ee4"
            ]
        ]
    },
    {
        "id": "1cf54524f13c2d26",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/InputVoltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1640,
        "wires": [
            [
                "be56eed32a446492"
            ]
        ]
    },
    {
        "id": "b3c2eb9f72146338",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/InputCurrent",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "da2b0271378553d8"
            ]
        ]
    },
    {
        "id": "9e4840ab40ae5bbb",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/InputPower",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1740,
        "wires": [
            [
                "10bbcbd0381f3e18"
            ]
        ]
    },
    {
        "id": "668e71728f0c9d72",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/LastUpdatedOn",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1860,
        "wires": [
            [
                "b65826a8c1152547"
            ]
        ]
    },
    {
        "id": "97f3019b2405d7f7",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/OutputPower",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "51ca4bd6720284ad",
                "39406b9b1b7243b8"
            ]
        ]
    },
    {
        "id": "dfc791affb1d1823",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/MaxVoltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1280,
        "wires": [
            [
                "10bf361430227f6a"
            ]
        ]
    },
    {
        "id": "7a623cd5a99a521c",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/MaxCurrent",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1420,
        "wires": [
            [
                "b5d574deca3748d0"
            ]
        ]
    },
    {
        "id": "8e1db15fc4bb50d2",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/MaxPower",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1360,
        "wires": [
            [
                "d72bcb521b980905"
            ]
        ]
    },
    {
        "id": "addc5eece042e42d",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/IsRunning",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "1d4868f2bf095778",
                "73f9ed0392fba8e0",
                "43ad0808668a1157"
            ]
        ]
    },
    {
        "id": "43ad0808668a1157",
        "type": "function",
        "z": "5cba3eca9550f493",
        "name": "Reset Charts on Simulink Restart",
        "func": "if(msg.payload == \"true\")\n{\n    msg.payload = [];\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "c9a55f04f3dadbfc",
                "bfaee12d922b5ee4",
                "39406b9b1b7243b8",
                "43ee4612be61f39d",
                "d3678ab5a4391e10"
            ]
        ]
    },
    {
        "id": "f85536b92531748f",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/Efficiency",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "281116386934a023",
                "43ee4612be61f39d"
            ]
        ]
    },
    {
        "id": "a1090428a5e6771c",
        "type": "mqtt in",
        "z": "5cba3eca9550f493",
        "name": "",
        "topic": "ps/state/Load",
        "qos": "2",
        "datatype": "auto",
        "broker": "f40b2bde33b93179",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "216f59245d22cf72",
                "d3678ab5a4391e10"
            ]
        ]
    },
    {
        "id": "a5200d9b357f76b3",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "b05e2a141d322079",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Output Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "f91ca3fb4b05b90e",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "86f6fd7e9ca54957",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Output Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "be56eed32a446492",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "c2a695c6317b6322",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Input Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 1640,
        "wires": []
    },
    {
        "id": "da2b0271378553d8",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "dd3cae952076e337",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Input Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 1560,
        "wires": []
    },
    {
        "id": "10bbcbd0381f3e18",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "136335a934903c82",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Input Power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 1740,
        "wires": []
    },
    {
        "id": "b65826a8c1152547",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "992803e217580f69",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "LastUpdatedOn",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 1860,
        "wires": []
    },
    {
        "id": "51ca4bd6720284ad",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "95c520af4cdabda1",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Output Power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "10bf361430227f6a",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "56bcbcf6bc346431",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "MaxVoltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "b5d574deca3748d0",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "56bcbcf6bc346431",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Max Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 1420,
        "wires": []
    },
    {
        "id": "d72bcb521b980905",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "56bcbcf6bc346431",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "MaxPower",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1d4868f2bf095778",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "b00d211c5a812d8b",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "isRunning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 475,
        "y": 620,
        "wires": [],
        "l": false
    },
    {
        "id": "281116386934a023",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "30c438efc39a9702",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Efficiency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "216f59245d22cf72",
        "type": "ui_text",
        "z": "5cba3eca9550f493",
        "group": "eda2fe23eb0492da",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "load",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "c9a55f04f3dadbfc",
        "type": "ui_chart",
        "z": "5cba3eca9550f493",
        "name": "",
        "group": "b05e2a141d322079",
        "order": 5,
        "width": 16,
        "height": 9,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 835,
        "y": 180,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "bfaee12d922b5ee4",
        "type": "ui_chart",
        "z": "5cba3eca9550f493",
        "name": "",
        "group": "86f6fd7e9ca54957",
        "order": 5,
        "width": 16,
        "height": 9,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 835,
        "y": 240,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "39406b9b1b7243b8",
        "type": "ui_chart",
        "z": "5cba3eca9550f493",
        "name": "",
        "group": "95c520af4cdabda1",
        "order": 5,
        "width": 16,
        "height": 9,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 835,
        "y": 300,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "43ee4612be61f39d",
        "type": "ui_chart",
        "z": "5cba3eca9550f493",
        "name": "",
        "group": "30c438efc39a9702",
        "order": 6,
        "width": 16,
        "height": 9,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 835,
        "y": 360,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "d3678ab5a4391e10",
        "type": "ui_chart",
        "z": "5cba3eca9550f493",
        "name": "",
        "group": "eda2fe23eb0492da",
        "order": 6,
        "width": 16,
        "height": 9,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 835,
        "y": 420,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "73f9ed0392fba8e0",
        "type": "ui_led",
        "z": "5cba3eca9550f493",
        "order": 2,
        "group": "b00d211c5a812d8b",
        "width": 4,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#528b46",
                "value": "true",
                "valueType": "str"
            },
            {
                "color": "#f0144b",
                "value": "false",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 475,
        "y": 580,
        "wires": [],
        "l": false
    },
    {
        "id": "020a0016988706e7",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 1,
        "width": 11,
        "height": 1
    },
    {
        "id": "43ff29d0cad3b863",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 3,
        "width": 11,
        "height": 1
    },
    {
        "id": "5c4b7e4942f79b26",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "6175038537acad6c",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcd52656af5b7e17",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 7,
        "width": 11,
        "height": 1
    },
    {
        "id": "0d5e13d588bf8a54",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "6796262b7db3d039",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 9,
        "width": 11,
        "height": 1
    },
    {
        "id": "563071ea55c51ac6",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "d403a734629f5807",
        "order": 10,
        "width": 11,
        "height": 1
    },
    {
        "id": "0c4c47f48fe4497a",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "44d6865ea6a69a42",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "cf0bdce93a4b3c21",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 1,
        "width": 11,
        "height": 1
    },
    {
        "id": "c8843f80b2e7beb8",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 3,
        "width": 13,
        "height": 1
    },
    {
        "id": "fd56278a318410b1",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "614ac11366f71a16",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "89c5e4cb253a52af",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "389383a7cc3f40bf",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "ab221e7337a679e1",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "9504ac64f4bc5303",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "1a0193ed95b69a98",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "1214e4b1ec3be929",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 12,
        "width": 7,
        "height": 1
    },
    {
        "id": "5f40743ff07d93df",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "eb8bab8aad854480",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 14,
        "width": 7,
        "height": 1
    },
    {
        "id": "aed96c9dece87f6e",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "c8a22ff066b18d5c",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 16,
        "width": 7,
        "height": 1
    },
    {
        "id": "0b634a1978e15ce1",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 17,
        "width": 7,
        "height": 1
    },
    {
        "id": "102a35a429760164",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 18,
        "width": 7,
        "height": 1
    },
    {
        "id": "08f759f9f37ee5c2",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 19,
        "width": 7,
        "height": 1
    },
    {
        "id": "d6d8362199f8a4f3",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 20,
        "width": 7,
        "height": 1
    },
    {
        "id": "a13261b90acbd660",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "de51eed046375c48",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b05e2a141d322079",
        "order": 22,
        "width": 7,
        "height": 1
    },
    {
        "id": "595833646cc5c229",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "48d4c3cb1f1e8230",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "656bfeab88efeb7d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "fb9793c2fe676896",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "402060d5aecab1bb",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "2e14a5f0c7ea227f",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "ee60ae47e5c85d21",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "67ff11481a08b099",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "e897bac4443b9240",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "19fb5a629792085a",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 12,
        "width": 7,
        "height": 1
    },
    {
        "id": "5c8e4ff26aa134a2",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "cf87a8acf2a1aa94",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 14,
        "width": 7,
        "height": 1
    },
    {
        "id": "7df361dfe73b14eb",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "469743bce12bc92c",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 16,
        "width": 7,
        "height": 1
    },
    {
        "id": "096f5390dabd39e7",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 17,
        "width": 7,
        "height": 1
    },
    {
        "id": "2f6806f8dfd8207e",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 18,
        "width": 7,
        "height": 1
    },
    {
        "id": "c972e79f887db184",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 19,
        "width": 7,
        "height": 1
    },
    {
        "id": "91737bf42e7d9a7a",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 20,
        "width": 7,
        "height": 1
    },
    {
        "id": "32f37d6f73892e84",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "19b9149d4c088aa4",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "86f6fd7e9ca54957",
        "order": 22,
        "width": 7,
        "height": 1
    },
    {
        "id": "365407aa940aefb4",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "650a7f3c9583a09d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "da4c27baadb2bf1a",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "c04bcaf6c55e99d9",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "42a98a2d3e625e36",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 7,
        "width": 7,
        "height": 1
    },
    {
        "id": "cbe8dc71dfb626f3",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 8,
        "width": 7,
        "height": 1
    },
    {
        "id": "9b18e7542a2deb70",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "03deb745fabc5952",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "69d689d4f0a6c0ec",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "f6faa9d22769ad27",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 12,
        "width": 7,
        "height": 1
    },
    {
        "id": "beb09f9c60c85d1e",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "e776e0af38162064",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 14,
        "width": 7,
        "height": 1
    },
    {
        "id": "fd2577bcfab9ba17",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "e275f8d93193ac74",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 16,
        "width": 7,
        "height": 1
    },
    {
        "id": "ec6cb4662adc0891",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 17,
        "width": 7,
        "height": 1
    },
    {
        "id": "3fda078f5fbc6f9f",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 18,
        "width": 7,
        "height": 1
    },
    {
        "id": "bcaac8dd1cba9bab",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 19,
        "width": 7,
        "height": 1
    },
    {
        "id": "4471c09b19884c9b",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 20,
        "width": 7,
        "height": 1
    },
    {
        "id": "a160223865ade831",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "9dd3c1d3018d339d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "95c520af4cdabda1",
        "order": 22,
        "width": 7,
        "height": 1
    },
    {
        "id": "ba15e2950ba0629d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "56bcbcf6bc346431",
        "order": 2,
        "width": 24,
        "height": 1
    },
    {
        "id": "670cde9f6ebd0996",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "56bcbcf6bc346431",
        "order": 4,
        "width": 24,
        "height": 1
    },
    {
        "id": "3ff8b1968248b9e6",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "56bcbcf6bc346431",
        "order": 6,
        "width": 24,
        "height": 1
    },
    {
        "id": "85ffbd1632f91443",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "dd3cae952076e337",
        "order": 2,
        "width": 24,
        "height": 1
    },
    {
        "id": "b52077a60d13b2a1",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "c2a695c6317b6322",
        "order": 2,
        "width": 24,
        "height": 1
    },
    {
        "id": "8052063c5af7364d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "136335a934903c82",
        "order": 2,
        "width": 24,
        "height": 1
    },
    {
        "id": "858c3299af8cccd3",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "b00d211c5a812d8b",
        "order": 3,
        "width": 18,
        "height": 1
    },
    {
        "id": "3ab671a49780a253",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "992803e217580f69",
        "order": 2,
        "width": 24,
        "height": 1
    },
    {
        "id": "eb78fb90e3bc05d1",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 1,
        "width": 30,
        "height": 1
    },
    {
        "id": "d67ca0d82128d95f",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "313c9f826427b44b",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 4,
        "width": 13,
        "height": 1
    },
    {
        "id": "d5d6d32604ac286f",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "22346c646f32c736",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "d5e9c7b4648dd466",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "70d9bf37828241de",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "a31bac2c6f06df21",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 10,
        "width": 8,
        "height": 1
    },
    {
        "id": "d0dd9ef3c23d04cd",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "b0a14bc76ddf3968",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 12,
        "width": 8,
        "height": 1
    },
    {
        "id": "8dbb3b00fa1154d4",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "e98bb9da60114ee4",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 14,
        "width": 8,
        "height": 1
    },
    {
        "id": "63aa50d7cd0e5af2",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "4dafefecdcf27ee7",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 16,
        "width": 8,
        "height": 1
    },
    {
        "id": "fcb55712134d821f",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "e1cd3325216d2458",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 18,
        "width": 8,
        "height": 1
    },
    {
        "id": "fa7fcdd511800a7f",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "2fbcb1f10f9c5464",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 20,
        "width": 8,
        "height": 1
    },
    {
        "id": "1a3da97c9bb6cb78",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "6069e573da5a9929",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 22,
        "width": 8,
        "height": 1
    },
    {
        "id": "7b4413fa104530db",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "30c438efc39a9702",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "b0529a225787c874",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 1,
        "width": 30,
        "height": 1
    },
    {
        "id": "5da089251f8dfc1b",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "2a04a1ceb9852dc7",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 4,
        "width": 13,
        "height": 1
    },
    {
        "id": "ae0f41a9d7fb8231",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "670185cb3825077d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "a75f495df4b7d39b",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "04d6b54f02c22172",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "6562dfecf6193f1d",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 10,
        "width": 8,
        "height": 1
    },
    {
        "id": "ac97ed3fae746d68",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "78bde5b7d93c5a99",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 12,
        "width": 8,
        "height": 1
    },
    {
        "id": "6920f22f8b54970b",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "73d979750991c610",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 14,
        "width": 8,
        "height": 1
    },
    {
        "id": "ecc0d28c66b527c6",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "29992d223fefd7e6",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 16,
        "width": 8,
        "height": 1
    },
    {
        "id": "648185fbf505ddf4",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "8ed58055d964ebf1",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 18,
        "width": 8,
        "height": 1
    },
    {
        "id": "eba7bd5e4e25d23e",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "d693961b2c659a92",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 20,
        "width": 8,
        "height": 1
    },
    {
        "id": "75ae08f3aa45b519",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "d1607f4495710944",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 22,
        "width": 8,
        "height": 1
    },
    {
        "id": "ebe1114c7ade1aaa",
        "type": "ui_spacer",
        "z": "5cba3eca9550f493",
        "name": "spacer",
        "group": "eda2fe23eb0492da",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "f40b2bde33b93179",
        "type": "mqtt-broker",
        "name": "xtensablade-mqtt-server",
        "broker": "rithviknishad.ddns.net",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b05e2a141d322079",
        "type": "ui_group",
        "name": "OutputVoltage",
        "tab": "67bae237db119466",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "86f6fd7e9ca54957",
        "type": "ui_group",
        "name": "OutputCurrent",
        "tab": "67bae237db119466",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "c2a695c6317b6322",
        "type": "ui_group",
        "name": "Input Voltage",
        "tab": "69a62ee64603c204",
        "order": 7,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "dd3cae952076e337",
        "type": "ui_group",
        "name": "Input Current",
        "tab": "69a62ee64603c204",
        "order": 6,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "136335a934903c82",
        "type": "ui_group",
        "name": "Input Power",
        "tab": "69a62ee64603c204",
        "order": 8,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "992803e217580f69",
        "type": "ui_group",
        "name": "LastUpdatedOn",
        "tab": "e180e4baa888d9fa",
        "order": 2,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "95c520af4cdabda1",
        "type": "ui_group",
        "name": "Output Power",
        "tab": "67bae237db119466",
        "order": 9,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "56bcbcf6bc346431",
        "type": "ui_group",
        "name": "Peak Performance",
        "tab": "67bae237db119466",
        "order": 11,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "b00d211c5a812d8b",
        "type": "ui_group",
        "name": "isRunning",
        "tab": "e180e4baa888d9fa",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "30c438efc39a9702",
        "type": "ui_group",
        "name": "Efficiency",
        "tab": "e180e4baa888d9fa",
        "order": 10,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "eda2fe23eb0492da",
        "type": "ui_group",
        "name": "Load",
        "tab": "e180e4baa888d9fa",
        "order": 14,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "67bae237db119466",
        "type": "ui_tab",
        "name": "Output",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "69a62ee64603c204",
        "type": "ui_tab",
        "name": "Input",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e180e4baa888d9fa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]